* {
    margin: 0; 
    padding: 0; 
}

body { overflow: hidden;  }

canvas { 
    background-color: #DEDEDE;
}

div.palette {
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000000;
    top: 10px;
    left: 10px;
}

div.palette div.colors {
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #454545;
}

div.palette div.colors button.color {
    border: hidden;
    width: 24px;
    height: 24px;
    transition: all 0.1s;
    outline: none;
}

div.palette button.color:hover {
    transform: scale(1.5);
    border: 1px solid #000000;
}