* {
    margin: 0; 
    padding: 0; 
}

body { overflow: hidden;  }

canvas { 
    background-color: #DEDEDE;
}

footer {
    position: absolute;
    left: 50%;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: black;
}


footer a:hover { text-decoration: underline; }

nav.navigation { 
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #bbb;
}

div.palette {
    padding: 20px 100px;
    background-color: white;
    top: 10px;
    left: 10px;
    text-align: center;
}

div.palette div.colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.palette div.colors button.color {
    border: hidden;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    transition: all 0.1s;
    outline: none;
    margin: 2px;
}

div.palette button.color:hover {
    transform: scale(1.5);
    border: 1px solid #000000;
}